#main {
  margin: auto;
  width: 95%;
  height: 100%;
}

nav {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

#sunTeks {
  width: 100%;
  height: 60%;
  border: 3px solid #cccccc;
  padding: 5px;
  background: #FFFFFF;
}

#colorpalette {
  width: 250px;
  height: 200px;
  visibility: hidden;
  position: absolute; 
}

.button {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000000;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}

.select {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000000;
	line-height: 1;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}
