
body {
  height: 100%;
  width: 100%;
  font-family: Cantarell, sans-serif;
}

.waw {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 100, 205, 0.5);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(256, 256, 256, 0.4)), to(rgba(0, 100, 205, 0.5)));
  background-image: -webkit-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -moz-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -ms-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -o-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-repeat: no-repeat;
  background-color: transparent/9;
}

.launcherbutton {
  margin: 0;
}

.iconstatus {
  margin: 5px 0px 0px 10px;
}

.datetime {
  margin: 5px 0px 0px 10px;
  color: #FFFFFF;
}

.launcherbox {
  width: 300px;
  height: inherit;
  background-color: #1B1B1B;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1910;
  display: none;
}

.launcherbox h2 {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 10px;
}

.launchercontainer {
  width: 280px;
  margin: 10px;
  padding: 0;
  border-radius: 6px;
}

.launchercontainer > li > a {
  display: block;
  background: rgba(64, 64, 64, 0.5);
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 5px 14px;
  border: 1px solid rgba(64, 64, 64, 0.75);
}

.launchercontainer > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.launchercontainer > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.userinfobox {
  width: 258px;
  height: 60px;
  background: rgba(64, 64, 64, 0.5);
  border: 1px dashed #F8EB93;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 1920;
  display: none;
  padding: 10px;
}

.userinfoname {
  margin-left: 10px;
  float: left;
  color: #FFFFFF;
  font-size: 18px;
}

.iconplacebox {
  width: 90%;
  margin: 0px 50px 0px 50px;
  height: 80px;
  background: rgba(64, 64, 64, 0.5);
  border: 1px solid #000000;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  z-index: 100;
  padding: 10px;
}

.app {
  margin: 10px;
}

.imagewaw {
  text-align: center;
}

/* Override Bootstrap CSS */
.navbar-inner {
  min-height: 20px;
}

.navbar .brand {
  padding: 0px 20px 5px;
}

.well {
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(64, 64, 64, 0.5);
  border-radius: 10px;
}

.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-list > li > a {
  color: #FFFFFF;
}

.nav-list > li > a:hover {
  background-color: #808080;
}

.img-polaroid {
  display: block;
  float: left;
}
